@model TripDetailModel

@{
    ViewData["Title"] = $"Trip #{Model.Trip.ID}";
}

<style>
    #advancedTab .nav-link {
        color: grey;
        font-weight: 600;
        transition: .25s;
        padding: 1rem;
    }

        #advancedTab .nav-link.active {
            color: #0275d8;
            border-bottom: 3px solid #0275d8;
        }
</style>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
    <h1 class="h2">Trip #@Model.Trip.ID - @Model.Trip.Tour.Title</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a class="btn btn-secondary ml-auto mr-2" asp-action="Index"><span data-feather="arrow-left"></span> Back to list</a>
        <a class="btn btn-primary ml-auto mr-2" asp-action="Edit" asp-route-id="@Model.Trip.ID"><span data-feather="edit"></span> Edit</a>
        <form class="text-white" style="cursor: pointer" asp-action="ToggleClose" method="post" asp-route-id="@Model.Trip.ID" asp-route-returnUrl="@Context.Request.Path">
            @if (Model.Trip.IsOpen)
            {
                <button onclick="$(this).closest('form').submit()" class="btn btn-danger"><span data-feather="trash"></span> Close</button>

            }
            else
            {
                <button disabled="@(!Model.Trip.Tour.IsOpen)" onclick="$(this).closest('form').submit()" class="btn btn-success"><span data-feather="refresh-cw"></span> Open</button>
            }
        </form>
    </div>
</div>


<ul class="nav tabs-primary nav-justified mb-3" id="advancedTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active show" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Information</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="itineraries-tab" data-toggle="tab" href="#itineraries" role="tab" aria-controls="itineraries" aria-selected="false">Itineraries</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="bookings-tab" data-toggle="tab" href="#bookings" role="tab" aria-controls="bookings" aria-selected="false">Bookings</a>
    </li>
</ul>
<div class="tab-content" id="advancedTabContent">
    <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Trip.ID)</th>
                        <td>@Html.DisplayFor(m => m.Trip.ID)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Trip.StartTime)</th>
                        <td>@Html.DisplayFor(m => m.Trip.StartTime)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Trip.EndTime)</th>
                        <td>@Html.DisplayFor(m => m.Trip.EndTime)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Trip.Capacity)</th>
                        <td>@Html.DisplayFor(m => m.Trip.Capacity)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Trip.Price)</th>
                        <td>$@Html.DisplayFor(m => m.Trip.Price)</td>
                    </tr>
                    <tr>
                        <th>Sale Price</th>
                        <td class="text-success">$@Model.Trip.GetSalePrice()</td>
                    </tr>
                    <tr>
                        <th>Deposit</th>
                        <td>@Model.Trip.Deposit%</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h3 class="my-3">Discounts applied to this trip</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Valid From</th>
                        <th>Valid Until</th>
                        <th>Type</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var disc in Model.Trip.TripDiscounts.Select(trd => trd.Discount))
                    {
                        <tr>
                            <td>
                                @disc.Title @if (disc.IsExpired(DateTime.Now))
                                {
                                    <span class="badge badge-danger">Expired</span>
                                }
                            </td>
                            <td>@disc.ValidFrom</td>
                            <td>@disc.ValidUntil</td>
                            <td>@disc.Type</td>
                            <td>@disc.Value@disc.GetValueSuffix()</td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (!Model.Trip.TripDiscounts.Any())
            {
                <p class="text-muted">There is no discount applied to this trip</p>
            }
        </div>
    </div>
    <div class="tab-pane fade" id="itineraries" role="tabpanel" aria-labelledby="itineraries-tab">
        <button disabled="@(!Model.ItineraryImportTrips.Any())" data-toggle="modal" data-target="#importSelector" class="btn btn-primary mb-3 mr-1">
            <span data-feather="download"></span> Import
        </button>
        <a asp-controller="Itinerary" asp-action="New" asp-route-tripID="@Model.Trip.ID" class="btn btn-success mb-3">
            <span data-feather="plus"></span> New Itinerary
        </a>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Start time</th>
                        <th>Transport</th>
                        <th>Meals</th>
                        <th>Accommodation</th>
                        <th>Activities</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var itin in Model.Trip.Itineraries)
                    {
                        <tr>
                            <td>@itin.Title</td>
                            <td>@itin.StartTime</td>
                            <td>@itin.Transport</td>
                            <td>@itin.Meal</td>
                            <td>@itin.Accommodation</td>
                            <td>@itin.Activity</td>
                            <td class="d-flex">
                                <a style="cursor: pointer" data-toggle="modal" data-target="#itin-@itin.ID" class="mr-3 text-primary"><span data-feather="eye" /></a>
                                <a class="mr-3 text-warning" asp-controller="Itinerary" asp-action="Edit" asp-route-id="@itin.ID"><span data-feather="edit" /></a>
                                <form style="cursor: pointer" class="d-inline" asp-controller="Itinerary" asp-action="Delete" asp-route-id="@itin.ID" asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)" method="post">
                                    <a onclick="$(this).closest('form').submit()" class="text-danger d-inline"><span data-feather="trash" /></a>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (!Model.Trip.Itineraries.Any())
        {
            <p class="text-muted text-center">No itinerary is found for this trip</p>
        }
    </div>
    <div class="tab-pane fade" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Total</th>
                        <th>Deposited</th>
                        <th>Deposited On</th>
                        <th>Payment Deadline</th>
                        <th>Status</th>
                        <th class="no-ordering">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var booking in Model.Trip.Bookings)
                    {
                        <tr>
                            <td>@booking.Author.Name</td>
                            <td>@booking.Total</td>
                            <td>@booking.Deposit</td>
                            <td>@booking.DateDeposited</td>
                            <td>@booking.PaymentDeadline</td>
                            <td>@booking.Status</td>
                            <td class="border-top d-flex">
                                <a class="mr-3 text-primary" asp-action="Detail" asp-route-id="@booking.ID"><span data-feather="navigation" /></a>
                                <a class="mr-3 text-warning" asp-action="Edit" asp-route-id="@booking.ID" asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)"><span data-feather="edit" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (!Model.Trip.Bookings.Any())
            {
                <p class="text-muted">There is no booking for this trip</p>
            }
        </div>
    </div>
</div>



@foreach (var itin in Model.Trip.Itineraries)
{
    <div class="modal fade" id="itin-@itin.ID" tabindex="-1" role="dialog" aria-labelledby="itinLabel-@itin.ID" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="itinLabel-@itin.ID">Itinerary Preview</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Raw(itin.Detail)
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="importSelector" tabindex="-1" role="dialog" aria-labelledby="selectTourLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select trip to import from</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Itinerary" asp-action="Import" asp-route-destinationTripID="@Model.Trip.ID" method="post">
                <div class="modal-body form-group">
                    <label for="tripSelect" class="form-label">Target:</label>
                    <select id="tripSelect" class="selectpicker" data-live-search="true" aria-label="Select trip" name="sourceTripID">
                        @foreach (var trip in Model.ItineraryImportTrips)
                        {
                            <option value="@trip.ID">@trip.StartTime.ToLongDateString() - @trip.EndTime.ToLongDateString()</option>
                        }
                    </select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary"><span data-feather="check"></span> Continue</button>
                </div>
            </form>
        </div>
    </div>
</div>