@model Customer

@{
    ViewData["Title"] = Model.Name;
}

<style>
    #advancedTab .nav-link {
        color: grey;
        font-weight: 600;
        transition: .25s;
        padding: 1rem;
    }

        #advancedTab .nav-link.active {
            color: #0275d8;
            border-bottom: 3px solid #0275d8;
        }
</style>


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
    <h1 class="h2">
        Customer @Model.Name @if (Model.IsSoftDeleted)
        {
            <span class="badge badge-danger">Banned</span>
        }
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a class="btn btn-secondary ml-auto mr-2" asp-action="Index"><span data-feather="arrow-left"></span> Back to list</a>
        <form class="text-white" style="cursor: pointer" asp-action="ToggleBanCustomer" method="post" asp-route-id="@Model.ID" asp-route-returnUrl="@Context.Request.Path">
            @if (!Model.IsSoftDeleted)
            {
                <a onclick="$(this).closest('form').submit()" class="btn btn-danger"><span data-feather="slash"></span> Ban</a>
            }
            else
            {
                <a onclick="$(this).closest('form').submit()" class="btn btn-success"><span data-feather="refresh-cw"></span> Unban</a>
            }
        </form>
    </div>
</div>

<ul class="nav tabs-primary nav-justified mb-3" id="advancedTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active show" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Information</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="order-tab" data-toggle="tab" href="#order" role="tab" aria-controls="order" aria-selected="false">Orders (@Model.Orders.Count)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews (@Model.Reviews.Count)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pointlogs-tab" data-toggle="tab" href="#pointlogs" role="tab" aria-controls="pointlogs" aria-selected="false">Point logs (@Model.Reviews.Count)</a>
    </li>
</ul>
<div class="tab-content" id="advancedTabContent">
    <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.ID)</th>
                        <td>@Html.DisplayFor(m => m.ID)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Name)</th>
                        <td>@Html.DisplayFor(m => m.Name)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Email)</th>
                        <td>@Html.DisplayFor(m => m.Email)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Points)</th>
                        <td>@Html.DisplayFor(m => m.Points)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.LastSignIn)</th>
                        <td>@Html.DisplayFor(m => m.LastSignIn)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.ImgUrl)</th>
                        <td>
                            <img src="@Model.ImgUrl" class="img-fluid rounded" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="order" role="tabpanel" aria-labelledby="order-tab">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date Paid</th>
                        <th>Total Paid</th>
                        <th>No. Bookings</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.Orders)
                    {
                        <tr>
                            <td>@order.DateCompleted</td>
                            <td class="text-right">$@order.Total</td>
                            <td class="text-right">@order.Bookings.Count</td>
                            <td class="row">
                                <a class="mr-3 text-primary mb-3 mb-md-0" asp-controller="Trip" asp-action="Detail" asp-route-id="@order.ID"><span data-feather="navigation" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (!Model.Orders.Any())
        {
            <p class="text-muted text-center">This customer hasn't ordered anything</p>
        }
    </div>
    <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Tour</th>
                        <th>Stars</th>
                        <th>Date Reviewed</th>
                        <th>Content (Shortened)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var review in Model.Reviews)
                    {
                        <tr>
                            <td>@review.Tour.Title</td>
                            <td>
                                @for (int i = 0; i < review.Stars; i++)
                                {
                                    <span class="text-warning" data-feather="star"></span>

                                }
                            </td>
                            <td>@review.LastUpdated</td>
                            <td>@review.Content</td>
                            <td class="row">
                                <form style="cursor: pointer" class="d-inline" asp-controller="Review" asp-action="Delete" asp-route-id="@review.ID" asp-route-returnUrl="@Context.Request.Path" method="post">
                                    <a onclick="$(this).closest('form').submit()" class="text-danger d-inline"><span data-feather="trash" /></a>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (!Model.Reviews.Any())
        {
            <p class="text-muted text-center">This customer hasn't writen any reviews</p>
        }
    </div>
    <div class="tab-pane fade" id="pointlogs" role="tabpanel" aria-labelledby="pointlogs-tab">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Time logged</th>
                        <th>Amount</th>
                        <th>Trigger</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var log in Model.PointLogs)
                    {
                        <tr>
                            <td>@log.LastUpdated</td>
                            <td class="text-right text-@(log.Amount > 0 ? "success": "danger")">@(log.Amount > 0 ? "+": "")@log.Amount</td>
                            <td>@log.Trigger</td>
                            <td>@log.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (!Model.PointLogs.Any())
        {
            <p class="text-muted text-center">No point log was found for this customer</p>
        }
    </div>
</div>

@section Scripts {
    <script src="~/lib/lightbox2/js/lightbox.min.js"></script>
}  