@model AccountListModel

@{
    ViewData["Title"] = "Accounts";
    string customerTbl = "cusTbl";
    string employeeTbl = "empTbl";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
    <h1 class="h2">Manage Accounts</h1>
    <div class="btn-toolbar mb-2 mb-md-0 d-flex align-items-center">
        <form method="get" class="mr-3">
            <div class="form-check">
                <input style="transform: translateY(2px)" onchange="$(this).closest('form').submit()" asp-for="ShowBanned" class="form-check-input">
                <label> Show Banned</label>
            </div>
        </form>
    </div>
</div>


<style>
    #advancedTab .nav-link {
        color: grey;
        font-weight: 600;
        transition: .25s;
        padding: 1rem;
    }

        #advancedTab .nav-link.active {
            color: #0275d8;
            border-bottom: 3px solid #0275d8;
        }
</style>

<ul class="nav tabs-primary nav-justified mb-3" id="advancedTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active show" id="customers-tab" data-toggle="tab" href="#customers" role="tab" aria-controls="customers" aria-selected="true">Customers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="employees-tab" data-toggle="tab" href="#employees" role="tab" aria-controls="employees" aria-selected="false">Employees</a>
    </li>
</ul>
<div class="tab-content" id="advancedTabContent">
    <div class="tab-pane fade show active" id="customers" role="tabpanel" aria-labelledby="customers-tab">
        <div class="table-responsive">
            <table id="@customerTbl" class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th class="text-right">Points</th>
                        <th>Last Login</th>
                        <th class="no-ordering">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in Model.Customers)
                    {
                        <tr>
                            <td>
                                @customer.Name @if (customer.IsSoftDeleted)
                                {
                                    <span class="badge badge-danger">Banned</span>
                                }
                            </td>
                            <td>@customer.Email</td>
                            <td class="text-right">@customer.Points</td>
                            <td>@customer.LastSignIn</td>
                            <td class="row">
                                <a class="mr-3 text-primary mb-3 mb-md-0" asp-action="DetailCustomer" asp-route-id="@customer.ID"><span data-feather="navigation" /></a>
                                <form style="cursor: pointer" class="d-inline" asp-action="ToggleBanCustomer" asp-route-id="@customer.ID" asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)" method="post">
                                    @if (!customer.IsSoftDeleted)
                                    {<a onclick="$(this).closest('form').submit()" class="text-danger d-inline"><span data-feather="slash" /></a> }
                                    else
                                    {
                                        <a onclick="$(this).closest('form').submit()" class="text-success d-inline"><span data-feather="refresh-cw" /></a>
                                    }
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (!Model.Customers.Any())
            {
                <p class="text-muted">There is no customer</p>
            }
        </div>
    </div>
    <div class="tab-pane fade" id="employees" role="tabpanel" aria-labelledby="employees-tab">
        <div class="table-responsive">
            <table id="@employeeTbl" class="table">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Date of birth</th>
                        <th>Started Work</th>
                        <th class="no-ordering">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var emp in Model.Employees)
                    {
                        <tr>
                            <td>
                                @emp.FullName @if (emp.IsSoftDeleted)
                                {
                                    <span class="badge badge-danger">Banned</span>
                                }
                            </td>
                            <td>@emp.Email</td>
                            <td>@emp.PhoneNumber</td>
                            <td>@Html.DisplayFor(_ => emp.DOB)</td>
                            <td>@Html.DisplayFor(_ => emp.StartWork)</td>
                            <td class="row">
                                <a class="mr-3 mb-3 mb-md-0 text-primary" asp-action="DetailEmployee" asp-route-id="@emp.ID"><span data-feather="navigation" /></a>
                                <a class="mr-3 mb-3 mb-md-0 text-warning" asp-action="EditEmployee" asp-route-id="@emp.ID"><span data-feather="edit" /></a>
                                @if (!emp.IsAdmin())
                                {
                                    <form style="cursor: pointer" class="d-inline" asp-action="ToggleBanEmployee" asp-route-id="@emp.ID" asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)" method="post">
                                        @if (!emp.IsSoftDeleted)
                                        {
                                            <a onclick="$(this).closest('form').submit()" class="text-danger d-inline"><span data-feather="slash" /></a> }
                                        else
                                        {
                                            <a onclick="$(this).closest('form').submit()" class="text-success d-inline"><span data-feather="refresh-cw" /></a>
                                        }
                                    </form>
                                }
                                else
                                {
                                    <a style="cursor: not-allowed" class="text-danger d-inline"><span data-feather="slash" /></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @if (!Model.Employees.Any())
        {
            <p class="text-muted text-center">There is no employee</p>
        }
    </div>
</div>

<partial name="_DataTable" model="@($"{customerTbl},{employeeTbl}")" />
