@model QuestionDetailModel

@{
    ViewData["Title"] = Model.Question.Title;
}

<div class="m-3">
    <form asp-action="Edit" method="post">
        <input name="id" value=@Model.Question.ID type="hidden" />
        <div class="d-flex flex-wrap">
            <div class="form-group mr-5">
                <label asp-for="@Model.Question.Priority"></label>
                <select asp-for="@Model.Question.Priority" name="priority" class="selectpicker" asp-items="@Html.GetEnumSelectList<Question.QuestionPriority>()"></select>
            </div>
            <div class="form-group mr-5">
                <label asp-for="@Model.Question.Status"></label>
                <select asp-for="@Model.Question.Status" name="status" class="selectpicker" asp-items="@Html.GetEnumSelectList<Question.QuestionStatus>()"></select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary ml-2"><span data-feather="save"></span>Edit</button>
            </div>
        </div>
    </form>
</div>


<div class="mt-5">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col col-md-5">@Model.Question.Title</div>
                <div class="col col-md-5">@Model.Question.Owner.Name</div>
                <div class="col col-md-2">@Model.Question.LastUpdated.ToShortDateString()</div>
            </div>
        </div>
        <div class="card-body">
            <p>@Model.Question.Content</p>
        </div>

        @{
            foreach (var ans in Model.Question.Answers.OrderByDescending(ans => ans.LastUpdated))
            {
                <div class="card m-2">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#ans-@ans.ID" aria-expanded="true" aria-controls="ans-@ans.ID">
                                <span class="text-secondary"><strong>@ans.Author </strong></span><span class="text-secondary"> @ans.LastUpdated</span>
                            </button>
                        </h5>
                    </div>

                    <div id="ans-@ans.ID" class="collapse">
                        <div class="card-body">
                            @ans.Content
                        </div>
                    </div>
                </div>
            }
        }

    </div>

    <form asp-action="Answer" method="post" class="my-3">
        <input class="form-control" type="hidden" asp-for=@Model.Answer.QuestionID value="@Model.Question.ID" />
        <div class="form-group">
            <label asp-for=@Model.Answer.Content>Answer</label>
            <textarea rows="5" class="form-control" asp-for=@Model.Answer.Content></textarea>
            <span class="text-danger" asp-validation-for="@Model.Answer.Content"></span>
        </div>
        <a class="btn btn-secondary" asp-action="Index"><span data-feather="arrow-left"></span> Back to list</a>
        <button type="submit" class="btn btn-primary"><span data-feather="save"></span>Answer</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}