@model QuestionListModel
@{
    ViewData["Title"] = "Questions";
    string tblID = "questionTbl";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
    <h1 class="h2">Manage Questions</h1>
    <div class="btn-toolbar mb-2 mb-md-0 d-flex align-items-center">
        <button id="btnNoti" onclick="clicked()" data-toggle="modal" data-target="#notification" class="btn btn-outline-dark border-0 mr-3" style="transform: translateY(-2px)">
            <span><span data-feather="bell"></span> Notifications</span>
            <span class="badge badge-md badge-circle badge-floating badge-danger border-white" id="noti-time"></span>
        </button>
        <form method="get" class="mr-3">
            <div class="form-check">
                <input style="transform: translateY(2px)" onchange="$(this).closest('form').submit()" asp-for="ShowClosed" class="form-check-input">
                <label asp-for="ShowClosed"> Show Closed</label>
            </div>
        </form>
    </div>
</div>


<div class="table-responsive">
    <table id="@tblID" class="table">
        <thead>
            <tr>
                <th>Questioner</th>
                <th>Title</th>
                <th>Category</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Updated</th>
                <th class="no-ordering">Action</th>
            </tr>
        </thead>
        <tbody id="table">
            @foreach (var question in Model.Questions)
            {
                <tr>
                    <td>@question.Author.Name</td>
                    <td>@question.Title</td>
                    <td>@question.Category</td>
                    <td>@question.Priority</td>
                    <td>@question.Status</td>
                    <td>@question.LastUpdated.ToShortDateString()</td>
                    <td class="border-top d-flex" id="clone-div">
                        <a class="mr-3 text-primary" asp-action="Answer" asp-route-id="@question.ID" id="clone-a"><span data-feather="navigation" /></a>
                        
                        <form style="cursor: pointer" class="d-inline" asp-action="ToggleVisibility" asp-route-id="@question.ID" asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)" method="question">
                            @if (question.Status != Question.QuestionStatus.Closed)
                            {<a onclick="$(this).closest('form').submit()" class="text-danger d-inline"><span data-feather="x-square" /></a> }
                            else
                            { <a onclick="$(this).closest('form').submit()" class="text-success d-inline"><span data-feather="refresh-cw" /></a>}
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="notification" tabindex="-1" role="dialog" aria-labelledby="notificationLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notificationLabel">Notifications</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body list-group list-group-flush">
                <ul id="list">
                   
                </ul>
            </div>
        </div>
    </div>
</div>

<partial name="_DataTable" model="@tblID" />

<<script src="https://unpkg.com/@@aspnet/signalr@1.0.2/dist/browser/signalr.js"></script>
<script src="https://unpkg.com/@@microsoft/signalr@6.0.0-preview.4.21253.5/dist/browser/signalr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>

<script>

    var connection = new signalR.HubConnectionBuilder()
        .withUrl("/qa")
        .configureLogging(signalR.LogLevel.Information)
        .build();


    function NotiCount() {
        let noti = document.getElementById("noti-time");
        let ul = document.getElementById("list");
        let itemCount = ul.childElementCount;

        noti.textContent = itemCount;
    }

    function ready(authorName, title, category, date, priority, status) {
        QuestionAdd(authorName, title, category, date, priority, status);
        NotiCount();

    }

    connection.start().then(() => console.log("Connected")).catch(err => console.log("Error connecting: " + err));

    connection.on("ReceiveQuestion", ready);



    function QuestionAdd(authorName, title, category, date, priority, status) {
        //add new question
        let tbody = document.getElementById("table");
        let row = document.createElement("tr");

        let authorNameCol = document.createElement("td");
        authorNameCol.textContent = authorName;
        row.appendChild(authorNameCol);

        let titleCol = document.createElement("td");
        titleCol.textContent = title;
        row.appendChild(titleCol);

        let categoryCol = document.createElement("td");
        categoryCol.textContent = category;
        row.appendChild(categoryCol);

        let priorityCol = document.createElement("td");
        priorityCol.textContent = priority;
        row.appendChild(priorityCol);

        let statusCol = document.createElement("td");
        statusCol.textContent = status;
        row.appendChild(statusCol);

        let dateCol = document.createElement("td");
        dateCol.textContent = moment(date).format("MMM Do YY");
        row.appendChild(dateCol);

        let cloneDiv = document.getElementById("clone-div");
        let buttonCol = cloneDiv.cloneNode(true);
        row.appendChild(buttonCol);

        tbody.appendChild(row);

        //add new noti
        let ul = document.getElementById("list");
        let li = document.createElement("li");
        let a = document.createElement("a");
        
       
        a.textContent = authorName + " created a new question";
        

        a.onclick = function (e) {
            e.preventDefault();
            ul.removeChild(li);
        }
        li.style = "background-color:red;";
        li.appendChild(a);
        ul.insertBefore(li, ul[0]);
    }

    function clicked() {
        let notiCount = document.getElementById("noti-time");
        notiCount.textContent = "";
    };
</script>
