@model DiscountListModel

@{
    ViewData["Title"] = "Discounts";
    string tableID = "discountTbl";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
    <h1 class="h2">Manage Discounts</h1>
    <div class="btn-toolbar mb-2 mb-md-0 d-flex align-items-center">
        <form method="get" class="mr-3">
            <div class="form-check">
                <input style="transform: translateY(2px)" onchange="$(this).closest('form').submit()" asp-for="ShowExpired" class="form-check-input">
                <label asp-for="ShowExpired">Show Expired</label>
            </div>
        </form>
        <a asp-action="New" class="btn btn-success ml-auto">Add new<span data-feather="plus"></span></a>
    </div>
</div>
<div class="table-responsive">
    <table class="table" id="@tableID">
        <thead>
            <tr>
                <th>Title</th>
                <th>Valid From</th>
                <th>Valid Until</th>
                <th>Type</th>
                <th>Value</th>
                <th class="no-ordering">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var disc in Model.Discounts)
            {
                <tr>
                    <td>
                        @disc.Title @if (disc.IsExpired(DateTime.Now))
                        {
                            <span class="badge badge-danger">Expired</span>
                        }
                    </td>
                    <td>@disc.ValidFrom</td>
                    <td>@disc.ValidUntil</td>
                    <td>@disc.Type</td>
                    <td class="text-right">@disc.Value@disc.GetValueSuffix()</td>
                    <td class="border-top row">
                        <a style="cursor: pointer" data-toggle="modal" data-target="#trips-@disc.ID" class="text-primary mr-3"><span data-feather="layers" /></a>
                        <a class="text-warning mr-3 mb-3 mb-md-0" asp-action="Edit" asp-route-id="@disc.ID" asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)"><span data-feather="edit" /></a>
                        <form class="d-inline" asp-action="Delete" asp-route-id="@disc.ID" asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)" method="post">
                            <a style="cursor: pointer" onclick="targetForm = this.parentNode;" class="text-danger" data-toggle="modal" data-target="#delete-modal"><span data-feather="trash" /></a>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@foreach (var disc in Model.Discounts)
{
    <div id="trips-@disc.ID" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Trips applied</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-action="ToggleApply" asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)" method="post">
                    <input name="id" value="@disc.ID" hidden />
                    <div class="modal-body">
                        @foreach (var tripDiscount in disc.TripDiscounts)
                        {
                            <div class="row">
                                <a class="font-weight-bold text-primary d-block col-11" asp-action="Detail" asp-route-id="@tripDiscount.TripID" asp-controller="Trip">
                                    Trip #@tripDiscount.Trip.ID - @tripDiscount.Trip.Tour.Title
                                    @if (!tripDiscount.Trip.IsOpen)
                                    {
                                        <span class="badge badge-danger">Closed</span>
                                    }
                                </a>
                                <input style="transform: translateY(5px)" name="tripIDs" value="@tripDiscount.TripID" class="d-block col-1" type="checkbox" checked />
                            </div>
                        }
                        @if (!disc.TripDiscounts.Any())
                        {
                            <p class="text-muted">This discount is currently not applied to any trip</p>
                        }
                    </div>
                    <div class="modal-footer">
                        <button disabled="@(!disc.TripDiscounts.Any())" class="btn btn-primary"><span data-feather="save"></span> Save changes</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
}

<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This discount be deleted and no longer applied to all the associated trips.</p>
            </div>
            <div class="modal-footer">
                <button onclick="targetForm.submit()" class="btn btn-danger d-inline"><span data-feather="trash"></span> Confirm</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var targetForm = this.parentNode;
    </script>
}

<partial name="_DataTable" model="@tableID" />