@using Infrastructure.InterfaceImpls;

@model Post

@{
    ViewData["Title"] = Model.Title;
}

<div class="mt-3">
    <article>
        <div class="row">
            <div class="col-lg-8">
                <header class="mb-4">
                    <h1 class="fw-bolder mb-1">@Model.Title</h1>
                    <div class="text-muted fst-italic mb-2">Posted on @Model.LastUpdated.ToLongDateString() by @Model.Owner.FullName</div>
                    @foreach (var tag in Model.Tags)
                    {
                    <a style="cursor:pointer" class="badge bg-primary text-decoration-none text-white p-1 px-2">@tag</a>
                    }
                </header>
            </div>
            <div class="col-lg-4">
                <div class="btn-toolbar mt-2 mb-3 mb-md-0 d-flex justify-content-md-end">
                    <a class="btn btn-secondary mr-2" asp-action="Index"><span data-feather="arrow-left"></span> Back to list</a>
                    <a class="btn btn-primary mr-2" asp-action="Edit" asp-route-id="@Model.ID" asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)"><span data-feather="edit"></span> Edit</a>
                    <form class="text-white mr-2" style="cursor: pointer" asp-action="ToggleClose" method="post" asp-route-id="@Model.ID" asp-route-returnUrl="@Context.Request.Path">
                        @if (!Model.IsSoftDeleted)
                        {
                        <a onclick="$(this).closest('form').submit()" class="btn btn-danger"><span data-feather="eye-off"></span> Hide</a>
                        }
                        else
                        {
                        <a onclick="$(this).closest('form').submit()" class="btn btn-success"><span data-feather="eye"></span> Show</a>
                        }
                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <!-- Preview image figure-->
                <figure class="mb-5"><img class="img-fluid rounded" src="@Model.CoverImgUrl" alt="coverImg" /></figure>
                <!-- Post content-->
                <section class="mb-3 overflow-hidden">
                    @Html.Raw(Model.Content)
                </section>
                @if(Model.Comments.Any()) {
                <!-- Comments section-->
                <section>
                    <h3 class="my-3">Comments</h3>
                    <div class=" w-100">
                        @foreach (var comment in Model.Comments)
                            {
                        <div class="d-flex bg-light mb-3 p-3">
                            <img class="rounded-circle mr-3" src="@comment.Owner.ImgUrl" alt="Commentator image">
                            <div>
                                <div>
                                    <h5 class="h5">@comment.Owner.Name</h5>
                                    <span>@comment.LastUpdated.ToCustomDateString()</span>
                                </div>
                                <p>
                                    @comment.Content
                                </p>
                            </div>
                        </div>
                       }
                    </div>
                </section>
                }
            </div>
            <div class="col-md-4">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header">Details</div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th class="pl-0 py-1 pr-1 border-0">Category</th>
                                    <td class="p-1 border-0 text-right">@Model.Category</td>
                                </tr>
                                <tr>
                                    <th class="pl-0 py-1 pr-1 border-0">Views</th>
                                    <td class="p-1 border-0 text-right">112</td>
                                </tr>
                                <tr>
                                    <th class="pl-0 py-1 pr-1 border-0">Min read</th>
                                    <td class="p-1 border-0 text-right">6 minutes</td>
                                </tr>
                                <tr>
                                    <th class="pl-0 py-1 pr-1 border-0">Comments</th>
                                    <td class="p-1 border-0 text-right">@Model.Comments.Count</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>