@using Infrastructure.InterfaceImpls;

@model Post

@{
    ViewData["Title"] = Model.Title;
}

<div class="mt-3">
    <article>
        <div class="row">
            <div class="col-lg-8">
                <header class="mb-4">
                    <h1 class="fw-bolder mb-1">@Model.Title</h1>
                    <div class="text-muted fst-italic mb-2">Posted on @Model.LastUpdated.ToLongDateString() by @Model.Author.FullName</div>
                    @foreach (var tag in Model.Tags)
                    {
                        <a style="cursor:pointer" class="badge bg-primary text-decoration-none text-white p-1 px-2">@tag</a>
                    }
                </header>
            </div>
            <div class="col-lg-4">
                <div class="btn-toolbar mt-2 mb-3 mb-md-0 d-flex justify-content-md-end">
                    <a class="btn btn-secondary mr-2" asp-action="Index"><span data-feather="arrow-left"></span> Back to list</a>
                    <a class="btn btn-primary mr-2" asp-action="Edit" asp-route-id="@Model.ID"><span data-feather="edit"></span> Edit</a>
                    <form class="text-white mr-2" style="cursor: pointer" asp-action="ToggleClose" method="post" asp-route-id="@Model.ID" asp-route-returnUrl="@Context.Request.Path">
                        @if (!Model.IsSoftDeleted)
                        {
                            <a onclick="$(this).closest('form').submit()" class="btn btn-danger"><span data-feather="eye-off"></span> Hide</a>
                        }
                        else
                        {
                            <a onclick="$(this).closest('form').submit()" class="btn btn-success"><span data-feather="eye"></span> Show</a>
                        }
                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <!-- Preview image figure-->
                <figure class="mb-5"><img class="img-fluid rounded" src="@Model.CoverImgUrl" alt="coverImg" /></figure>
                <!-- Post content-->
                <section class="mb-3">
                    @Html.Raw(Model.Content)
                </section>
                <!-- Comments section-->
                <section class="mb-3">
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comment form-->
                            <h4 class="mb-4">Comments<span class="font-weight-normal ml-3">4</span></h4>
                            <!-- Comment with nested comments-->
                            <div class="d-flex mb-4">
                                <!-- Parent comment-->
                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name</div>
                                    If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                                    <!-- Child comment 1-->
                                    <div class="d-flex mt-4">
                                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                        <div class="ms-3">
                                            <div class="fw-bold">Commenter Name</div>
                                            And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                                        </div>
                                    </div>
                                    <!-- Child comment 2-->
                                    <div class="d-flex mt-4">
                                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                        <div class="ms-3">
                                            <div class="fw-bold">Commenter Name</div>
                                            When you put money directly to a problem, it makes a good headline.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single comment-->
                            <div class="d-flex">
                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name</div>
                                    When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header">Details</div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th class="pl-0 py-1 pr-1 border-0">Category</th>
                                    <td class="p-1 border-0 text-right">@Model.Category</td>
                                </tr>
                                <tr>
                                    <th class="pl-0 py-1 pr-1 border-0">Views</th>
                                    <td class="p-1 border-0 text-right">112</td>
                                </tr>
                                <tr>
                                    <th class="pl-0 py-1 pr-1 border-0">Min read</th>
                                    <td class="p-1 border-0 text-right">6 minutes</td>
                                </tr>
                                <tr>
                                    <th class="pl-0 py-1 pr-1 border-0">Likes</th>
                                    <td class="p-1 border-0 text-right">33</td>
                                </tr>
                                <tr>
                                    <th class="pl-0 py-1 pr-1 border-0">Shares</th>
                                    <td class="p-1 border-0 text-right">10</td>
                                </tr>
                                <tr>
                                    <th class="pl-0 py-1 pr-1 border-0">Comments</th>
                                    <td class="p-1 border-0 text-right">6</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>